body{
  margin: 0px;
  padding: 0px;
}
.bodied {
  padding:50px ;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  background-color: #163334;
  color:white;
  border-radius: 25px;

}
a{
  text-decoration: none;
  color:white;
}
input{
  display: inline;
  margin-right:35px ;
  margin-top: 35px;
  color: black;
  border-radius: 8px;
  margin-bottom:10px ;
  
  
}
input,.page-name,.house-ul,.list{
  margin-top:30px ;
  margin-bottom: 30px;
}

p{
  background-color: none;
  color: black;
}
.nav-bar{
  
  background-color:#2E151B;
  margin-right: 20px;
  margin-left: 10px;
  
  color: white;
  border-radius: 20px;

  
}
.list {
  display: inline-block;
  margin-left: 25px;
 
list-style-type: none;


}
.house-ul{
  display: inline;
  margin-left: 450px;
}
.App{
  background-color: #376E6F;
  margin-top: 0px;
}

.page-name{
  display: inline;
  margin-left: 25px;
}

li{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;

}

.span {
  margin-right: 90px;
}
input{
  height: 20px;
}
